html, body {
    background: linear-gradient(180deg, turquoise 50%, beige 50%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border: 1px solid transparent;
    color: white;
}
.photo {
max-width: 35%;
max-height: 35%;
padding: 5%;
border-radius: 25%;
}
.title
{
font-weight: lighter;
}
#textbox {
padding: 5%; 
color: black;
text-indent: 5%;
}