body {
display: grid;
grid-template-columns: 100%;
grid-template-rows: 25% 25% 25% 25%;
margin-right: 500px;
margin-left: 500px;
outline: 5px;
font-family: Arial, Helvetica, sans-serif;
}
.grid-container {
    position: absolute;
    margin-left: 50%;
}

.beginning {
    align-items: center;
}